@import '../base/palette';
@import './text/size';
@import './text/color';
h1,
h2 {
    margin-bottom: 0;
}

h1 {
    font-size: $size-xxl;
    font-weight: $font-weight-bold;
}

h2 {
    font-size: $size-md-1;
    font-weight: $font-weight-bold;
}

.tw-light {
    font-weight: $font-weight-light;
}

.tw-normal {
    font-weight: $font-weight-normal;
}

.tw-bold {
    font-weight: $font-weight-bold;
}

.tw-bolder {
    font-weight: $font-weight-bolder;
}

.tf-primary{
    font-family: $font-text-primary;
}

.hover-pointer{
    cursor: pointer;
}