$root: '/qsbgtst/dist';
// $rev: "20200626";
// $path: '#{$root}/REV_j#{$rev}/fonts/';

// $path: 'https://pokipsi.github.io/o-strg/fonts/';

$path: '#{$root}/fonts/';

$fonts-dir: $path;

$icon-search: "\e911";
$icon-cheveron-left: "\e91d";
$icon-cheveron-right: "\e91e";
$icon-cheveron-down: "\e91c";

