//$root: '';
$root: '//d10y2oj5s0rxih.cloudfront.net';

$img_small404: url(#{$root}/images/small404.jpg);
$img_arrow_orange_l: url(#{$root}/images/arrow-orange-l.png);
$img_arrow_orange_r: url(#{$root}/images/arrow-orange-r.png);
$img_magnifier: url(#{$root}/images/magnifier-grey.png);
$img_magnifier-white-sm: url(#{$root}/images/magnifier-white-sm.png);
$img_arrows_white: url(#{$root}/images/arrows-white.png);
$img_arrow_ld: url(#{$root}/images/arrow-ld.png);
$img_arrow_lb: url(#{$root}/images/arrow-lb.png);
$img_arrow_rd: url(#{$root}/images/arrow-rd.png);
$img_arrow_rb: url(#{$root}/images/arrow-rb.png);
$img_arrow_left: url(#{$root}/images/arrow-left.png);
$img_arrow_right: url(#{$root}/images/arrow-right.png);
$img_proscons: url(#{$root}/images/proscons.png);
$img_arrow_right_grey: url(#{$root}/images/mobile/arrowright-grey.png);
$img_arrow_right_blue: url(#{$root}/images/mobile/arrowright-blue.png);
$img_arrow_rb: url(#{$root}/images/arrow-rb.png);
$img_arrow_down_circle_grey: url(#{$root}/images/arrowdown-grey.png);
$img_flags: url(#{$root}/images/flags_double.png);
$img_sprite: url(#{$root}/images/sprite.png);
$img_sprite_white: url(#{$root}/images/sprite-white.png);
$img_sprite_black: url(#{$root}/images/sprite-black.png);
$img_triangle: url(#{$root}/images/triangle_s.png);
$img_bodytypes: url(#{$root}/images/bodytypes_white.png);
$img_stars: url(#{$root}/images/stars_stroked_double_m.png);
$img_stars_20w: url(#{$root}/images/stars20w.png);
$img_stars_40w: url(#{$root}/images/stars40w.png);
$img_stars_20w_bold: url(#{$root}/images/stars20w_bold.png);
$img_stars_40w_bold: url(#{$root}/images/stars40w_bold.png);
$img_cbox: url(#{$root}/images/oyo-cbox-xthin.png);
$img_cbox_lg50p: url(#{$root}/images/oyo-cbox-xthin_lg50p.png);
$img_social: url(#{$root}/images/social.png);
$img_social_blue: url(#{$root}/images/social-blue.png);
$img_social_dark_grey: url(#{$root}/images/social-dark-grey.png);
$img_social_indigo: url(#{$root}/images/social-indigo.png);
$img_social_sprite_32: url(#{$root}/images/social/sprite-32_7.png);
$img_texture: url(#{$root}/images/bg-texture.png);
$img_loading: url(#{$root}/images/loading.gif);
$img_loading_2: url(#{$root}/images/loading-2.gif);
$img_camera_w30: url(#{$root}/images/compact-camera-w30.png);

$img_heart_outline_red_dark_16: url(#{$root}/images/android_asset/ic_action_favorite_outline_red_dark_16.png);
$img_heart_outline_red_dark_20: url(#{$root}/images/android_asset/ic_action_favorite_outline_red_dark_20.png);
$img_heart_outline_red_dark_40: url(#{$root}/images/android_asset/ic_action_favorite_outline_red_dark_40.png);

$img_heart_outline_red_16: url(#{$root}/images/android_asset/ic_action_favorite_outline_red_16.png);
$img_heart_outline_red_20: url(#{$root}/images/android_asset/ic_action_favorite_outline_red_20.png);
$img_heart_outline_red_40: url(#{$root}/images/android_asset/ic_action_favorite_outline_red_40.png);

$img_heart_red_dark_16: url(#{$root}/images/android_asset/ic_action_favorite_red_dark_16.png);
$img_heart_red_dark_20: url(#{$root}/images/android_asset/ic_action_favorite_red_dark_20.png);
$img_heart_red_dark_40: url(#{$root}/images/android_asset/ic_action_favorite_red_dark_40.png);

$img_heart_red_16: url(#{$root}/images/android_asset/ic_action_favorite_red_16.png);
$img_heart_red_20: url(#{$root}/images/android_asset/ic_action_favorite_red_20.png);
$img_heart_red_40: url(#{$root}/images/android_asset/ic_action_favorite_red_40.png);

$img_fc_icons:  url(#{$root}/images/fc_icons_20161109.png);

$img_social_share_40: url(#{$root}/images/android_asset/ic_social_share_40.png);

$img_google_play: url(#{$root}/images/google_play_sm.png);

$img_compare: url(#{$root}/images/compare-sprite-sm.png);
$img_compare_white: url(#{$root}/images/android_asset/ic_compare_false_32.png);
$img_compare_checked_white: url(#{$root}/images/android_asset/ic_compare_true_32.png);

$img_favorite_white: url(#{$root}/images/android_asset/ic_action_favorite_outline_white_32.png);
$img_favorite_checked_white: url(#{$root}/images/android_asset/ic_action_favorite_white_32.png);

$img_bt_sprite: url(#{$root}/images/bt-sprite.png);

$img_sprite_makes: url(#{$root}/images/makes/sprite-makes.png);
$img_sprite_flags_round: url(#{$root}/images/flags/sprite-flags-round-v2.png);
$img_sprite_flags_round_full: url(#{$root}/images/flags/sprite-flags-round-full.png);

$img_world_map: url(#{$root}/images/light-pattern-background-texture.jpg);