@import 'node_modules/bootstrap/scss/functions';
@import '../../bootstrap/bootstrap-overrides';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins/breakpoints';

$size-base: 1rem; //16
$size-xxs: $size-base * .6875; //11
$size-xs: $size-base * .75; //12
$size-sm: $size-base * .875; //14
$size-md: $size-base * 1; //16
$size-md-1: $size-base * 1.125; //18
$size-lg: $size-base * 1.2; //19.2
$size-xl: $size-base * 1.25; //20
$size-xxl: $size-base * 1.5; //24
$size-3xl: $size-base * 2; //32 

$sizes: ( 
    "xxs": $size-xxs, 
    "xs": $size-xs, 
    "sm": $size-sm, 
    "md": $size-md, 
    "md-1": $size-md-1, 
    "lg": $size-lg, 
    "xl": $size-xl, 
    "xxl": $size-xxl, 
    "3xl": $size-3xl 
);

$line-heights: ( 
    "1": 1, 
    "1p1": 1.1, 
    "1p2": 1.2, 
    "1p3": 1.3, 
    "1p5": 1.5, 
    "1p6": 1.6, 
    "1p7": 1.7, 
    "1p8": 1.8, 
    "2": 2
);

@function breakpoint-prefix($name, $breakpoints: $grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints)==null, "", "#{$name}\\:");
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $prefix: breakpoint-prefix($breakpoint, $grid-breakpoints);
        
        @each $name,
        $size in $sizes {
            .#{$prefix}ts-#{$name} {
                font-size: $size !important;
            }
        }

        @each $lkey,
        $lval in $line-heights {
            .#{$prefix}tl-#{$lkey} {
                line-height: $lval !important;
            }
        }
    }
}

